@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
/* In your global.css or index.css */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}
