@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
/* In your global.css or index.css */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}
.striped-progress {
  height: 4px;                 /* adjust as needed */
  border-radius: 9999px;
  background: repeating-linear-gradient(
    45deg,
    #3b82f6,       /* blue stripe */
    #3b82f6 4px,
    #60a5fa 4px,
    #60a5fa 8px
  );
  background-size: 16px 16px;
  animation: stripeMove 1s linear infinite;
  transition: width 0.2s ease;
}

@keyframes stripeMove {
  0% { background-position: 0 0; }
  100% { background-position: 16px 0; }
}
